@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome</b></h1>
    <p style="font-size: 25px">To the Healthcare System</p>
    <p>
        The Indian healthcare system is a diverse and complex network of public and private sectors that provide a wide range of medical services to India's 1.4 billion inhabitants. 
        Despite undergoing significant changes over the years, the system continues to face multiple challenges. 
        These challenges include inadequate infrastructure, a shortage of healthcare professionals, urban-rural disparities, limited health insurance coverage, insufficient public healthcare funding, and a fragmented healthcare system. 
        India is grappling with a growing burden of non-communicable diseases, which poses a significant challenge to its healthcare system. 
        The Indian government has initiated multiple programs to improve the healthcare system. The National Health Mission improves the availability of medical equipment and supplies. 
        This also promotes community participation and engagement in healthcare decision-making and service delivery. 
        The Ayushman Bharat scheme is a health insurance program that provides coverage of up to INR 5 lakhs per family per year for secondary and tertiary care hospitalization. 
     </p>   
     <p>
        The Indian healthcare system is also witnessing multiple healthcare innovations, ranging from low-cost medical devices to innovative healthcare delivery models. 
        The country's healthcare regulatory system is evolving to ensure patient safety, promote high-quality care, and control costs. 
        Furthermore, India has emerged as a leading destination for medical tourism due to the relatively low cost of medical procedures, the availability of skilled doctors, and advanced technology. 
        Factors such as cost-effective treatment, advanced technology, a wide range of specialities, alternative medicine, English language proficiency, and ease of travel have contributed to India's growing medical tourism industry. 
        The Indian healthcare system has made significant progress in recent years. The positive transformation of the Indian healthcare system involves a range of changes and initiatives. 
        Despite challenges, the continued investment in healthcare and innovation provides reasons to be optimistic about the future of healthcare in India.
    </p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
